/* inventory-windows.css */
.inventory-windows {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inventory-window {
    position: absolute;
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-rows: 32px auto 16px;
    grid-template-columns: 15px auto 17px;
    background-color: transparent;
    /* Add these properties for initial positioning */
    top: 10px;
    right: 10px;
    z-index: 100; /* Ensure it's above other elements */
}

.inventory-window div {
    background-size: contain;
}

.inventory-window .topleft,
.inventory-window .top,
.inventory-window .topright {
    --wails-draggable: drag;
}

.inventory-window .left,
.inventory-window .content,
.inventory-window .right,
.inventory-window .bottomleft,
.inventory-window .bottom,
.inventory-window .bottomright {
    --wails-draggable: drag;
}



.inventory-window .topleft {
    background: url('./assets/topleft.gif') no-repeat;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.inventory-window .top {
    background: url('./assets/top.gif') repeat-x;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.inventory-window .topright {
    background: url('./assets/topright.gif') no-repeat;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.inventory-window .left {
    background: url('./assets/left.gif') repeat-y;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.inventory-window .content {
    background: white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

.inventory-window .right {
    background: url('./assets/right.gif') repeat-y;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.inventory-window .bottomleft {
    background: url('./assets/bottomleft.gif') no-repeat;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.inventory-window .bottom {
    background: url('./assets/bottom.gif') repeat-x;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.inventory-window .bottomright {
    background: url('./assets/bottomright.gif') no-repeat;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.inventory-window .close {
    width: 15px;
    height: 15px;
    background: url('./assets/close.gif') no-repeat;
    position: absolute;
    top: 5px;
    right: 11px;
    cursor: pointer;
    z-index: 1000;
    --wails-draggable: no-drag;
}

.inventory-window h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.inventory-window .inventory-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.inventory-window .inventory-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.inventory-window #itemDetails {
    margin-top: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}